{% extends 'base.html' %}

{% block title %} Госкаталог 2.0 {% endblock %}
{% block navbar %} {% include 'block_navbar.html' %} {% endblock %}
{% block content %}
<div class="main-div">
    <h1>О проекте</h1>
    <p><b>Авторы</b>: Евгений Глазунов, Борис Орехов</p>
    <h2>Начало</h2>
    <p>Ресурс <a href="https://goskatalog.ru/">Госкаталог</a> и его
        <a href="https://opendata.mkrf.ru/opendata/7705851331-museum-exhibits">исходные данные</a>
        находятся в открытом доступе и по ним можно осуществлять поиск, однако есть проблемы. Почти все поля
        заполняются в свободном формате: "начало 20-х годов 19 века" вместо конкретных численных границ. Это
        не позволяет находить все экспонаты с нужными параметрами и проводить исследования с помощью компьютерных
        методов. Чтобы помочь пользователям избежать этого, мы создали проект по обработке данных в рамках курсовой
        и дипломной работы.
    </p>
    <a href="https://www.hse.ru/edu/vkr/475174482" class="btn btn-warning" target="_blank">Перейти к описанию ВКР</a>
    <h3>Какие данные обработаны?</h3>
    <p>Сейчас обработаны даты создания, место создания, авторы, техники и материалы</p>
    <h2>Как это работает?</h2>
    <p>Обработка с помощью инструментов языка программирования Python.</p>
    <h3>Даты создания</h3>
    <p>
        Обычно даты устроены похоже: "20 век", "1950-е гг", "Средневековье". Мы выделили наиболее частые шаблоны дат
        и с помощью специальных библиотек написали правила, на основе которых выделяются кусочки информации из текстового
        описания даты. Затем на основе этих кусочков по заданной логике складывается итоговый результат. Например,
        "первая половина 20 века":
        <ol>
            <li>выделяется "первая половина" + "20" + "век"</li>
            <li>20 + век дает 1901 - 2000</li>
            <li>первая половина превращает это в 1901 = 1950</li>
            <li>указаний на конкретные даты нет, поэтому берем границы</li>
            <li>01.01.1901 - 31.12.1950</li>
        </ol>
        Отдельные периоды вроде Средневековья определяются отдельно.
    </p>
    <h3>Места создания</h3>
    <p>
        Места создания могут сильно отличаться и содержать исторические названия или места ("Горький", "Золотая Орда").
        Для того, чтобы одно и то же место называлось одинаково, мы пытаемся найти такой объект Wikidata, который бы
        соответствовал этому месту. Такие объекты имеют идентификаторы и различную информацию об альтернативных названиях,
        что позволяет объединить имена "Спб", "Петербург", "Санкт-Петербург" в одно место.
    </p>
    <p>
        Мы делим адрес на части (Россия + Горький). Мы используем API (специальный интерфейс)
        Wikipedia и Wikidata, чтобы найти варианты объектов, которые им соответствуют. Далее мы убираем то, что
        нам не нужно (Горький = Максим Горький), оставляем только географию. Потом мы выбираем те варианты, которые
        складываются в не противоречащую друг другу цепочку (например, город с таким же названием в другой стране).
    </p>
    <p>
        У географических объектов обычно есть конкретные координаты. Мы может использовать
        <a href="https://gadm.org/">географическую базу</a>,
        чтобы полностью описать структуру (Россия, Нижегородская область, Нижний Новгород), находя
        те области, куда попадает наша точка.
    </p>
    <h3>Авторы</h3>
    <p>
        Авторы в целом устроены так же, как и места. Мы выделяем отдельных авторов, если их несколько,
        ищем из в Wikidata и отбираем объект, который им соответствует. В итоге разные варианты написания имени
        получают одинаковую форму.
    </p>
    <p>
        <b>Толстой Фёдор Петрович</b>
        <ul>
            <li>Толстой Фёдор Петрович</li>
            <li>Толстой Фёдор Петрович (автор медали). Императорский стеклянный завод</li>
            <li>Толстой Ф.П. (1783 - 1873)</li>
            <li>Федор Толстой (автор)</li>
            <li>Автор проекта: Толстой, Фёдор Петрович</li>
            <li>Ф.П. Толстой</li>
            <li>...и другие варианты</li>
        </ul>
    </p>
    <h3>Техники и материалы</h3>
    <p>
        Техники и материалы устроены похожим образом. Мы делим описание техник и материалов на отдельные элементы,
        ищем их соответствия в Wikipedia и указываем соответствующие названия. Наиболее популярные названия
        проверены вручную, в итоге используются только они.
    </p>
    <h2>Дополнительные разделы</h2>
    <h3>Поиск по лицам</h3>
    <p>
        С помощью инструментов компьютерного зрения мы находим лица на изображениях, получаем их пердставление
        в виде набора чисел. Далее мы складываем эти наборы чисел в специальную структуру хранения, где можно
        быстро находить похожие наборы.
    </p>
    <h3>Музеи</h3>
    <p>
        Музеи хранят разные типы экспонатов: для кого-то характерны фотографии, для кого-то - живопись и графика или
        предметы быта. На основе долей категорий экспонатов можно выделить группы музеев, которые больше похоже друг на друга.
        Например, галереи похожи тем, что у них в основном графика и живопись.
    </p>
    <p>
        Еще можно посмотреть на то, какая география экспонатов в каждом музее. Такие карты можно построить на
        основании информации, которую мы получили, обработав данные о месте создания экспонатов.
        В музеях преобладают экспонаты из России и Европы, однако в специализировнных музеях (краеведческих,
        ориентированных на Восток) ситуация отличается.
    </p>
    <h3>Сеть авторов</h3>
    <p>
        Когда мы привязали авторов к объектам из Wikidata, мы смогли получить дополнительную информацию. Например,
        о связях между людьми: родственники, учителя / ученики. Создатели произведений часто связаны друг с другом
        по ряду причин: ограниченность высшего сословия, к которому обычно относились авторы, общность интересов,
        передача опыта (учитель - ученик). С помощью инструментов работы с графами можно визуализировать такие связи,
        выделить влиятельных персон, обладающих большим количеством связей, проследить, как передавались знания.
    </p>
</div>
{% endblock %}