<!-- https://getbootstrap.com/docs/4.5/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Госкаталог 2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link" href="/search">Поиск</a>
        <a class="nav-link" href="/image_search">Поиск по лицам</a>
        <a class="nav-link" href="/museums">Музеи</a>
        <a class="nav-link" href="/authors">Сеть авторов</a>
        <a class="nav-link" href="/about">О проекте</a>
    </div>
  </div>
</nav>