{% extends 'base.html' %}

{% block title %} Музеи {% endblock %}
{% block navbar %} {% include 'block_navbar.html' %} {% endblock %}
{% block content %}
<object id="search-results" data="/museums_cluster" style="font-size: 60px !important; width: 100%; height: 100vh;"></object>
<div class="main-div">
    {% for region in data %}
        <div>
            <h4 class="region-name"> {{ region }}</h4>
            {% for district in data[region] %}
                <div class="row">
                    <div class="col-md-3">
                        <h5> {{ district }}</h5>
                    </div>
                    <div class="col-md-9">
                        <table class="museum-table">
                            {% for museumbatch in data[region][district]|batch(3) %}
                                <tr>
                                    {% for museum in museumbatch %}
                                        <td style="width: 33%;"> <a href="/museum/{{ museum[0] }}" target="_blank"> {{ museum[1] }} ({{ museum[2] }}) </a></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr style="border: 2px solid gray">
    {% endfor %}
</div>
{% endblock %}
