{% extends 'base.html' %}
{% block title %} География экспонатов {% endblock %}
{% block navbar %} {% include 'block_navbar.html' %} {% endblock %}
{% block content %}
<div class="main-div" style="margin: 20px 10% 0">
    <div>
        <h3>{{museum.name}} [{{museum.nl_name_1}}, {{museum.nl_name_2}}]</h3>
        <p>Карта ниже показывает географию экспонатов. Цветом обозначены типы точек</p>
        <table class="table">
            <tr>
                <th>Название</th>
                <th>Полное название</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>C</td>
                <td>Страна (Country)</td>
                <td>Для объекта доступно только указание на страну без более подробной информации</td>
            </tr>
            <tr>
                <td>H</td>
                <td>Населенный пункт (Human settlement)</td>
                <td>Есть указание на конкретный населенный пункт</td>
            </tr>
            <tr>
                <td>A</td>
                <td>Административно-территориальная единица</td>
                <td>Районы, регионы (Западная Европа, Свердловская область). Сюда могут попадать исторические государства.</td>
            </tr>
            <tr>
                <td>W</td>
                <td>Водные объекты</td>
                <td>Реки, озера</td>
            </tr>
            <tr>
                <td>N</td>
                <td>Природные объекты</td>
                <td>Горы, равнины, иные природные объекты</td>
            </tr>
            <tr>
                <td>-</td>
                <td>Другое</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<embed>
    {{ museum_map | safe }}
</embed>

{% endblock %}
