.main-div {
	margin: 50px 10%;
}

div.results div{
	display: inline-block;
	width: 100%;
}

#expand-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 5px 11px;
  background-color: #FBC02D;
  border: 1px solid;
  border-radius: 3px;
}

#expand-toggle:checked ~ #expand-btn {
  background-color: #FFA000;
}

#expand-toggle {
  display: none;
}

.exhibit-item {
	min-width: 300px;
	padding: 1%;
	max-width: 24%;
	vertical-align: top;
	/*border: 2px black solid;*/
}

.exhibit-meta,
.exhibit-description {
	padding: 1%;
	min-width: 300px;
}

.exhibit-meta {
	max-width: 25%;
}

.exhibit-description {
	max-width: 45%;
}

.photo-wrapper {
	vertical-align: top;
}

.exhibit-item div.photo {
	margin: auto;
}

#expand-toggle:checked ~ * .exhibit-item {
	max-width: 100% !important;
	/*display: block;*/
}

#expand-toggle:checked ~ * .photo-wrapper {
	max-width: 25% !important;
}

#expand-toggle:checked ~ * .exhibit-meta,
#expand-toggle:checked ~ * .exhibit-description {
	vertical-align: top;
}

#expand-toggle:checked ~ * .exhibit-meta,
#expand-toggle:checked ~ * .exhibit-description{
	vertical-align: top;
	display: inline-block;
}

#expand-toggle:not(checked) ~ * .exhibit-meta,
#expand-toggle:not(checked) ~ * .exhibit-description{
	display: none;
}

img.exhibit-photo{
	max-width: 100%;
	/*max-height: 300px;*/
}

.inner-photo-wrapper {
	margin: 0 auto;
	position: relative;
	/*display: block;*/
	/*height: 300px;*/
}

.exhibit-author{
	color: #388E3C;
}

.exhibit-name {
	color: #d32f2f;
}

.exhibit-museum {
	color: #303F9F;
}

.exhibit-technique {
	color: #00796B;
}

/*.exhibit-dates {*/
/*	color: blue;*/
/*}*/

.exhibit-raw {
	color: #9E9E9E;
}

.exhibit-raw-second {
	color: #607D8B;
}

.pagination * a {
	color: gray;
}

.pagination .active .page-link{
	background-color: #FBC02D;
	border-color: black;
	color: black;
}

.pagination-page-info {
	margin-bottom: 20px;
	margin-top: 20px;
}

.exhibit-author p,
.exhibit-technique p{
	margin: 0;
}

.exhibit-meta hr,
.exhibit-description hr{
	margin: 10px auto;
}

.form-label {
	color: #9E9E9E;
}

input[type=submit] {
	margin-top: 30px;
	border: 2px solid;
	color: black;
}

#submit {
	background-color: #FBC02D !important;
	border: black;
}

#submit-painting {
	background-color: #F48FB1 !important;
	border: grey;
}

#submit-photo {
	background-color: #80CBC4 !important;
	border: 2px grey;
}

#file {
	width: 100%;
}

#author {
	background-color: #E8F5E9;
}

#typology {
	background-color: #EDE7F6;
}

#techniques {
	background-color: #E0F2F1;
}

#century, #min-year, #max-year {
	background-color: #E3F2FD
}

#country, #region {
	background-color: #ffebee;
}

#region-now, #district-now, #museum-now {
	background-color: #FFFDE7;
}

.search-top {
	display: inline-block;
	max-width: 50%;
	margin-right: 5%;
}

.region-name {
	color: #C2185B;
	margin: 20px auto 20px;
}

.museum-table {
	margin-bottom: 20px;
}

.museum-table td {
	padding: 5px;
}